snippet date
`!v strftime("%Y-%m-%d")`
endsnippet

snippet date_full
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet date_en
`!v strftime("%d %b %Y")`
endsnippet

snippet date_time
`!v strftime("%H:%M:%S")`
endsnippet
